@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Work+Sans:wght@500;700&display=swap');

.container-cards-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  background-color: #1a1d29;

}

.container-card {
  width: 22%;
  box-sizing: content-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  color: white;
  height: 90px;
  width: 100%;
  border: 1px solid black
}

.number{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  background-color: black;
  height: 100%;
}

.title-number {
  font-size: 32px;
  font-weight: 700;
  font-family: 'Work Sans', sans-serif;
  background-color: black;
  color: white
}

.line-number{
  border-right: 1px solid orange;
  height: 40px;
  margin-left: 1px;
}

.player-name {
  background-color: black;
  margin-left: 3px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 2px;


}

.orange-name {
  background-color: black;
  color: orange;
  margin-bottom: 0;
  font-size: 25px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;

 
}

.surname {
  margin-top: 0;
  background-color: black;
  align-self: flex-start;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: white
}



/* image */


.foto-player {
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: 50vh;
  position: relative;
  z-index: 1;

}


/* skills */

.skills {
    display: none;
    margin-left: 10px;
    color: white;
    height: 85px;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 280px;
    background-color: transparent;
}

.skills-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  border-bottom: 1px solid #C8C4CB;
  background-color: transparent;
  
}

.skills-flex p {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 16px;
  margin-left: 15px;
  background-color: transparent;
}

.color-grey {
  color:#C8C4CB;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  background-color: transparent;
}

.color-white{
  color: white;
  font-weight: 700;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  background-color: transparent;
}

.container-card:hover {
  opacity: 0.9;
}


.container-card:hover .skills {
  display: block;
  background-color: transparent;
}

@media screen and (max-width: 576px){

.container-cards-skills{ 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;


}

.container-card {
  width: 300px;
  margin-bottom: 30px
}



}