
.wrapper {
    width: auto;
    margin: 3rem 8rem;
    height: auto;
  }

h2 {
 padding: 5px 0;
 background: #1a1d29;
 margin: 0;
 color: aliceblue;
}

th {
 text-align: center !important;
 text-transform: uppercase; 
}

td {
  text-align: center !important;
  padding: 5px 0;
}

input {
width: 100% !important;
float: left;
margin-left: 4rem;
padding: 1rem 0;
}
