.news-features-advertising {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #1a1d29;
    height: auto;
}

.container-add {
    width: 250px;
    height: 200px;
    margin-bottom: 30px;
    overflow: hidden;
    border: 1px solid orange
}


.jordan {
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-add .jordan:hover {
    width: 350px
}

.last-news {
    background-color: #1a1d29;
    width: 737px;
    height: 540px;
    background: #E5E5E5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 50px
}

.features-advertising {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    background-color:#1a1d29;
}

.features {
    background-color:#1a1d29;
    color: white;
    width: 395px;
    height: 323px;
    background: #FC9918;
    margin-bottom: 40px;
}

.advertising {
    background-color: #1a1d29;
    color: white;
    width: 398px;
    height: 179.67px;
    background: #4378DB;
}