* {
  background: none;
}

.container-footer {
  padding: 0;
  margin: 0;
  height: 14rem;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #272727;

}

p {
  width: 100%;
  background: #272727;
  color: white;
}

.container_text {
  height: 12rem;
  background: #272727;
  width: 50%;
  margin-left: 10rem;
  margin-top: 3rem;
  font-size: 1rem;
  height: auto;
  text-align: left;
}

.container_list {
  height: 12rem;
  background: #272727;
  width: 55%;
  margin-top: 1rem;
}

table {
  width: 80%;
  margin-top: 2rem;
  border: none;
}

tr {
  background: #272727;
  border: none;
}

th {
  text-align: left;
  color: #56B280;
  background: #272727;
  border: none;
  line-height: 2rem;
}

td {
  background: #272727;
  color: white;
  border: none;
  line-height: 1.5rem;
  text-align: left;
}

ul {
  background: none;
}

hr {
  position: absolute;
  width: 80%;
  border: 1px solid white;
  margin-top: 1.5rem;
}

