
nav {
  background-color: #1a1d29;
  margin-top: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav a {
  background-color:#1a1d29;
  color: white;
  text-decoration: none;
}


