@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Work+Sans:wght@500;700&display=swap');


#hamnav {
  width: 100%;
  background:#10182f;
}

#hamitems { display: flex; }
#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  background-color: #10182f;
  font-family: 'Work Sans', sans-serif;
}
#hamitems a:hover { 
  background: orange;
  color: #10182f;  }


#hamnav label, #hamburger { display: none; }




@media screen and (max-width: 576px){

  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }
 

  #hamnav label { 
    display: inline-block; 
    color: orange;
    background:#10182f; 
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { 
    display: block; }
}